<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.accera.mobile.tradeforceupdate">

    <application
        android:name=".platform.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.auth.AuthActivity"
            android:label="@string/title_screen_auth"/>

        <activity
            android:name=".presentation.dashboard.DashboardActivity"
            android:label="@string/title_screen_dashboard"/>

        <activity
            android:name=".presentation.user.register.RegisterUserActivity"
            android:label="@string/title_screen_register_user"/>

        <activity
            android:name=".presentation.appversion.register.RegisterAppVersionActivity"
            android:label="@string/title_screen_register_app_version"/>

        <activity
            android:name=".presentation.user.waitingapprovement.WaitingApprovementActivity"
            android:label="@string/title_screen_waiting_approvement"/>

        <activity
            android:name=".presentation.appversion.list.ListAppVersionActivity"
            android:label="@string/title_screen_versions"/>
        <activity
            android:name=".presentation.instance.register.RegisterInstanceActivity"
            android:label="@string/title_screen_register_instance"/>

        <activity
            android:name=".presentation.error.ErrorActivity"
            android:label="@string/title_screen_error"/>

    </application>

</manifest>